{% if is_granted('ROLE_ADMIN') %}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Raison</h1>

    <table>
        <tbody>
            <tr>
                <th>Type raison</th>
                <td>{{ raison.typeRaison }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('raisons_index') }}">Liste des raisons</a>
        </li>
        <li>
            <a href="{{ path('raisons_edit', { 'typeRaison': raison.typeRaison }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% endif %}