{% extends 'layout.html.twig' %}
 {% block bground %}
 {% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Categorieforum</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorieForum.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorieForum.nom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categorieforum_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('categorieforum_edit', { 'id': categorieForum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
